<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InfluxDB Mqtt Pusher!</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
    <meta name="theme-color" content="#3f51b5">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/feed.css">
</head>


<body>
<div id="app">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">

                <span class="mdl-layout-title">Influxdb Mqtt Pusher</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/">Feed</a>
                    <a class="mdl-navigation__link" href="/help">Help</a>
                    <div class="drawer-option">
                        <button class="enable-notifications mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--accent">
                            Enable Notifications
                        </button>
                    </div>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">InfluxdbPusher</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Feed</a>
                <a class="mdl-navigation__link" href="/help">Help</a>
            </nav>
        </div>


        <div class="mdl-grid">
            <div class="mdl-card">
                <div class="mdl-cell mdl-cell--8-col">

                    <main class="mdl-layout__content mat-typography">
                          <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" readonly type="number" id="activeTopics">
                                <label class="mdl-textfield__label" for="activeTopics" name="activeTopics">active Topics
                                    </label>
                            </div>
                          <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" readonly type="number" id="totalreceivedMessages">
                                <label class="mdl-textfield__label" for="totalreceivedMessages" name="totalreceivedMessages">total received Messages
                                    </label>
                            </div>

                        <ul class='mdl-list' id="topic-list">

                        </ul>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                                type="submit" id="showtopics-btn">Reload List!
                        </button>
                    </main>
                </div>

            </div>
            <div class="mdl-card">
                <div class="mdl-cell mdl-cell--2-col">
                    <main class="mdl-layout__content mat-typography">
                        <div id="subsribe_to_topic">
                            <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="topic">
                                <label class="mdl-textfield__label" for="topic" name="topic">Subscribe to Topic</label>
                            </div>
                            <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="measurementName">
                                <label class="mdl-textfield__label" for="measurementName" name="measurementName">Measurement
                                    Name</label>
                            </div>
                            <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="hostName">
                                <label class="mdl-textfield__label" for="hostName" name="hostName">Host Name</label>
                            </div>
                            <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="dbName">
                                <label class="mdl-textfield__label" for="dbName" name="dbName">Database Name</label>
                            </div>
                        </div>
                        <div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                                    type="submit" id="subscribe-btn">Subscribe
                            </button>
                        </div>
                    </main>
                </div>
            </div>

            <div class="mdl-card">
                <div class="mdl-cell mdl-cell--2-col">
                    <main class="mdl-layout__content mat-typography">

                        <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                             id="unsubscribe_to_topic">
                            <input class="mdl-textfield__input" type="text" id="untopic">
                            <label class="mdl-textfield__label" for="untopic" name="topic" id="untopic-lbl">UN-Subscribe
                                from Topic</label>
                        </div>
                        <div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                                    type="submit" id="unsubscribe-btn">UN-Subscribe
                            </button>
                        </div>
                    </main>
                    <main class="mdl-layout__content mat-typography">

                        <div class="input-section mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                             id="_createDatabase">
                            <input class="mdl-textfield__input" type="text" id="createdatabase">
                            <label class="mdl-textfield__label" for="createdatabase-btn" name="topic"
                                   id="createdatabase-lbl">Create Database</label>
                        </div>
                        <div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                                    type="submit" id="createdatabase-btn">Create Database
                            </button>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <div id="confirmation-toast" aria-live="assertive" aria-atomic="true" aria-relevant="text"
             class="mdl-snackbar mdl-js-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button type="button" class="mdl-snackbar__action"></button>
        </div>

    </div>
</div>
<script defer src="/static/js/material.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>